<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.saltedfish.blog.dao.api.ICategoryDao">
	<select id="getCategory" resultType="com.saltedfish.blog.pojo.Category">
		SELECT category_id, category_name, category_description 
		FROM blog.category 
		WHERE category_id = #{category_id}
	</select>
</mapper>