<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.saltedfish.blog.dao.api.IUserDao">
	<select id="getUser" resultType="com.saltedfish.blog.pojo.User">
		SELECT user_id, username 
		FROM usr.user 
		WHERE username = #{username} AND password = #{password}
	</select>
</mapper>